n8n/workflows/speed-alerts.json
{
  "name": "GreenFleet - Speed Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.GEOTAB_SERVER || 'my.geotab.com' }}/apiv1",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ method: 'Authenticate', params: { database: $env.GEOTAB_DATABASE, userName: $env.GEOTAB_USERNAME, password: $env.GEOTAB_PASSWORD } }) }}"
      },
      "id": "authenticate",
      "name": "Geotab Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.GEOTAB_SERVER || 'my.geotab.com' }}/apiv1",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ method: 'Get', params: { typeName: 'Trip', search: { fromDate: new Date(Date.now() - 15*60*1000).toISOString(), toDate: new Date().toISOString() }, credentials: $json.result.credentials } }) }}"
      },
      "id": "get-trips",
      "name": "Get Recent Trips",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "speed-check",
              "leftValue": "={{ $json.result.length }}",
              "rightValue": "0",
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-trips",
      "name": "Has Trips?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: '🚨 *GreenFleet Speed Alert*\\n' + $json.result.filter(t => t.speedRange > 20).slice(0,5).map(t => `Vehicle ${t.device?.id}: Max speed exceeded during trip (${(t.distance/1000).toFixed(1)} km trip)`).join('\\n') || 'No speeding events detected in last 15 minutes.' }) }}"
      },
      "id": "slack-alert",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200]
    }
  ],
  "connections": {
    "Every 15 Minutes": { "main": [[{ "node": "Geotab Auth", "type": "main", "index": 0 }]] },
    "Geotab Auth": { "main": [[{ "node": "Get Recent Trips", "type": "main", "index": 0 }]] },
    "Get Recent Trips": { "main": [[{ "node": "Has Trips?", "type": "main", "index": 0 }]] },
    "Has Trips?": { "main": [[{ "node": "Send Slack Alert", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "GreenFleet Commander" }]
}
